*{
	padding: 0;
	margin: 0;
}

body {
	min-height: 100%;
	width: 100%;
	background-image: url(../images/2.jpeg);
	background-size: cover;
	background-repeat: no-repeat;
}

.container-fluid {
	background-color: rgba(0, 0, 0, .7);
}

#content {
	color: #fff;
	font-family: 'Raleway', sans-serif;
	padding: 50px;
	font-size: 1.3em;
}

#content > h1 {
	text-align: center;
	margin-bottom: 20px;
}

#content article {
	margin-bottom: 40px;
}

#content p span {
	color: red;
}

.col-lg-4 h3{
	text-decoration: underline;
}

.col-lg-4 ul{
	list-style-type: none;
}

#large-window {
	background-image: url(../images/1.jpeg);
	height: 400px;
	background-position: top right;
	background-repeat: no-repeat;
	background-attachment: fixed;
	margin: 40px 0 0 40px;
}