*{
	padding: 0;
	margin: 0;
}

body {
	height: 100%;
	width: 100%;
	background-image: url(../images/2.jpeg);
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#links {
	background: rgba(0, 0, 0, .9);
	width: auto;
	height: auto;
	text-align: center;
	padding: 50px;
	list-style-type: none;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

#links li {
	margin-bottom: 20px;
}

#links li a {
	color: #fff;
	font-family: 'Berkshire Swash', cursive;
	font-size: 2.5em;
	text-transform: uppercase;
}

#links li a:hover {
	color: red;
	text-decoration: none;
	transition: color .5s;
}

#social {
	background: rgba(0, 0, 0, .9);
	width: auto;
	height: auto;
	text-align: center;
	padding: 30px;
	list-style-type: none;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	bottom: 0px;
	right: 0px;
}

#social p {
	color: #fff;
	font-family: 'Berkshire Swash', cursive;
}

#social li {
	margin-bottom: 20px;
}

#social li a {
	color: #fff;
	font-family: 'Berkshire Swash', cursive;
	font-size: 1em;
	text-transform: uppercase;
}

#social li a:hover {
	color: red;
	text-decoration: none;
	transition: color .5s;
}
